@import "bootstrap";


.weather-background{
	min-height:100vh;
	.weather-content{
		margin-top:5em;
		color:#333;
    background: white;
    padding: 1em;
    box-shadow: 1px 6px 11px rgba(49, 49, 49, 0.2);
		.back{
	    color: #999 !important;
	    font-size: 10px !important;
	    margin-top: -9px;
	    position: absolute;
	    margin-left: -3px;
		}
		a{
			color:#555;
			cursor:pointer;
			font-weight:200;
		}
		small{
			color:#333;
		}
		h3, h4{
			font-weight:200;
		}
		.city{
			border-radius:0;
			outline: none;
			border: none;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
			margin:1em;
			font-size:1em;
			color:#888;
			margin:0 auto;
		}
	}
}