@import "bootstrap";


.weather-background{
	min-height:100vh;
	.weather-content{
		margin-top:5em;
		color:#333;
    background: white;
    padding: 1em;
		a{
			color:#68C5FF;
			cursor:pointer;
		}
		small{
			color:#333;
		}
		.city{
			border-radius:0;
			outline: none;
			border: none;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
			margin:1em;
			border:1px solid #ccc;
			font-size:1em;
			color:#888;
			width:80%;
			margin:0 auto;
			margin-top:1em;
		}
	}
}